<div class="form-widget form-selectbox">
	<div class="form-label-text" dojoAttachPoint="_label">${label}</div>${!_linebreak}
	<select
		name="${name}"
		dojoType="${inputClass}"
		dojoAttachPoint="_input"
		class="form-input form-selectbox-input"
		required="${required}"
        freeText="${freeText}"
        autoComplete="${autoComplete}"
        queryExpr="${queryExpr}"
        highlightMatch="${highlightMatch}"
		selectOnClick="${selectOnClick}"
		maxLength="${maxlength}"
		tabindex="${tabindex}"
	>${!_options}</select>
</div>
