<div class="form-move-fromto-list">
	<div class="form-move-fromto-list-select-wrapper" role="presentation">
		<label for="${id}-select1">${labelLeft}</label><br />
		<select dojoType="dijit.form.MultiSelect" class="form-move-fromto-list-select" dojoAttachPoint="_selectLeft" id="${id}-select1" multiple>
		</select>
	</div>
	<div class="form-move-fromto-list-buttons" role="presentation">
		<span>
			<button dojoType="dijit.form.Button" type="button" dojoAttachPoint="_btnLeft">&lt;</button>
			<button dojoType="dijit.form.Button" type="button" dojoAttachPoint="_btnRight">&gt;</button>
		</span>
	</div>
	<div class="form-move-fromto-list-select-wrapper" role="presentation">
		<label for="${id}-select2">${labelRight}</label><br />
		<select dojoType="dijit.form.MultiSelect" class="form-move-fromto-list-select" dojoAttachPoint="_selectRight" id="${id}-select2" multiple>
		</select>
	</div>
</div>
