<div class="nhs-filter dojoDndItem">
    <fieldset dojoAttachPoint="_fieldsetNode" class="nhs-filter-group">
        <legend class="nhs-filter-group-legend dojoDndHandle">
            <span class="nhs-filter-group-icon" dojoAttachPoint="_icon" dojoAttachEvent="onclick:_onClick"></span>
            <span class="nhs-filter-group-label" dojoAttachPoint="_labelNode">${label}</span>
        </legend>
        <div dojoAttachPoint="_wrapperNode">
            <div dojoAttachPoint="containerNode" class="nhs-filter-group-content">
                <div class="nhs-filter-items" data-dojo-attach-point="itemsNode"><div>
            </div>
        </div>
    </fieldset>
</div>
