.navigation {
	position:relative;
}

/*
.navigation-list {
}
*/

.navigation-list li {
	position:relative;
	list-style-type: none;
}

.navigation-item {
	position:relative;
	text-decoration: none;
}

.navigation-item-link {
}

.navigation-menu-item {
	position:relative;
	text-decoration: none;
}

/*
.navigation-menu-item-link {
}
*/

.navigation-sub-menu {
	width: 100%;
}

/*
.navigation-sub-menu-list {
}
*/
