/* border radius */
.br-normal {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -opera-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

/* border radius top */
.brt-normal {
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -opera-border-radius: 8px 8px 0 0;
    -khtml-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

/* border radius botom */
.brb-normal {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -opera-border-radius: 0 0 8px 8px;
    -khtml-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

/* border radius left */
.brl-normal {
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -opera-border-radius: 8px 0 0 8px;
    -khtml-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}

/* border radius right */
.brr-normal {
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -opera-border-radius: 0 8px 8px 0;
    -khtml-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
}

/* border radius (small) */
.br-small {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -opera-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/* border radius top (small) */
.brt-small {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -opera-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

/* border radius botom (small) */
.brb-small {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -opera-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/* border radius left (small) */
.brl-small {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -opera-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

/* border radius right (small) */
.brr-small {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -opera-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
