<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %5p [%t] %c.%M:%L - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>${catalina.base}/logs/${pom.name}.log</File>
        <Encoding>UTF-8</Encoding>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %5p [%t] %c.%M:%L - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/${pom.name}.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </root>
    <logger name="io.codeworks.archetypes.web" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.thymeleaf" level="INFO" />
</configuration>
