body {
    background:url(../pix/bsg.jpg) repeat #000000;
	margin:0px;
	padding:0px;
}

.toplog{
    background:url(../pix/btg.jpg) repeat #202020;
	margin:0px;
	padding:0px;
	height:55px;
}
.menu {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color:#999999;
	padding-left:15px;
	padding-right:15px;
}

.menu a{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #cccccc;
	text-decoration:none;
	font-weight:bold;
}

.menu a:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration:underline;
	font-weight:bold;
}
.topmenu{
    background:url(../pix/bsg.jpg) left top repeat;
	margin:0px;
	padding:0px;
	height:auto;
}

.pagetip{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 22px;
	color:#999999;
	text-decoration:underline;
}
.pagetitle{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 22px;
	color: #cccccc;
}
.pagetitle a{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 22px;
	color: #ffffff;
	text-decoration:none;
}
.pagetitle a:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 22px;
	color: #CCCCCC;
	text-decoration:underline;
}
.page1title{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	color: #cccccc;
}
.page1title a{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-decoration:none;
}
.page1title a:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	color: #CCCCCC;
	text-decoration:underline;
}
.pagestitle{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 15px;
	color: #CCCCCC;
}
.pagestitle a{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 15px;
	color: #CCCCCC;
	text-decoration:none;
}
.pagestitle a:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
	text-decoration:underline;
}
.maincode{
    background:url(../pix/bpg.jpg) center top no-repeat;
	margin:0px;
	padding:0px;
	height:100%;
	border-bottom: 1px solid  #666666;
}
.mainpage {
   width:910px;
   padding:5px;
   border-top: 5px solid #C00F0F;
   border-bottom: 5px solid #C00F0F;
}
.infobot{
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color:#cccccc;
    background:url(../pix/bsg.jpg) left top repeat;
	margin:0px;
	height:auto;
	padding-left:15px;
	padding-right:15px;
	padding-top:20px;
	padding-bottom:25px;
}
.infobot a{
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color:#ffffff;
	text-decoration:underline;
}
.infobot a:hover{
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color:#ffffff;
	text-decoration:none;
}
.infobox{
    background:url(../pix/bsg.jpg) left top repeat;
	margin:0px;
	height:auto;
	padding:15px;

}
.moreapp{
	margin:0px;
	padding:0px;

}
.morebut {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;	
    background:url(../pix/bmg.jpg) left top repeat;
    border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
}
.morebut a{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration:none;
}
.morebut a:hover{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:underline;
}
.morebut2 {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;	
    background:#0C0C0C;
    border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
}
.morebuz2 {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;
    background:#0C0C0C;
    border-bottom: 1px solid #454545;
}
.moredut2 {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;
    background:#0C0C0C;
    border-right: 1px solid #454545;
}
.moreduz2 {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;
    background:#0C0C0C;;
}
.morebuz {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;
    background:url(../pix/bmg.jpg) left top repeat;
    border-bottom: 1px solid #454545;
}
.morebuz a{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration:none;
}
.morebuz a:hover{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:underline;
}
.moredut {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;
    background:url(../pix/bmg.jpg) left top repeat;
    border-right: 1px solid #454545;
}
.moredut a{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration:none;
}
.moredut a:hover{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:underline;
}
.moreduz {	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:23px;
	padding-right:10px;
    width:150px;
    height:80px;
    background:url(../pix/bmg.jpg) left top repeat;
}
.moreduz a{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration:none;
}
.moreduz a:hover{	
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:underline;
}
.partners{
    font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color:#999999;
    background:url(../pix/btg.jpg) left top repeat;
	margin:0px;
	padding-left:20px;
	padding-top:15px;
	padding-bottom:15px;
	height:auto;
	width:100%;
}
.botpartner{
    background:url(../pix/btg.jpg) left top repeat #202020;
	margin:0px;
	padding:0px;

}
.btext{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 38px;
	color:#999999;
	background:none;
	border:none;
	width:190px;
	height:50px;
}
.b1text{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 38px;
	color:#999999;
	background:none;
	border:none;
	width:140px;
	height:50px;
}
.b2text{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 35px;
	color:#999999;
	background:none;
	border:none;
	width:100px;
	height:50px;
}
.b3text{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 35px;
	color:#999999;
	background:none;
	border:none;
	width:85px;
	height:50px;
}
.b4text{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 35px;
	color:#999999;
	background:none;
	border:none;
	width:125px;
	height:50px;
}
.passdm{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 38px;
	color: #ffffff;
	background:none;
	border:none;
	width:690px;
	height:50px;
}
.pass1dm{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 38px;
	color: #ffffff;
	background:none;
	border:none;
	width:740px;
	height:50px;
}
.pass2dm{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 35px;
	color: #ffffff;
	background:none;
	border:none;
	width:785px;
	height:50px;
}
.pass3dm{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 35px;
	color: #ffffff;
	background:none;
	border:none;
	width:750px;
	height:50px;
}
.mwrite {    
    background:url(../pix/esb.jpg) left bottom repeat-x #F5F5F5;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;	
	padding-top:12px;
	padding-bottom:12px;	
	padding-left:15px;
	padding-right:0px;
    width:528px;
    height:299px;
}
.m1write {    
    background:url(../pix/esb.jpg) left bottom repeat-x #F5F5F5;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;	
	padding-top:12px;
	padding-bottom:12px;	
	padding-left:15px;
	padding-right:0px;
    width:893px;
    height:215px;
}
.m2write {    
    background:#FFFFFF;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;	
	padding-top:12px;
	padding-bottom:12px;	
	padding-left:15px;
	padding-right:0px;
    width:892px;
    height:160px;
}
.m3write {    
    background:none;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;	
	padding-top:12px;
	padding-bottom:12px;	
	padding-left:15px;
	padding-right:0px;
    width:892px;
    height:210px;
}
.m3write_cod {    
    background:none;
    border: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;

	padding:0px;
    width:890px;
    height:80px;
}
.m4write {    
    background:#666666;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;	
	padding-top:12px;
	padding-bottom:12px;	
	padding-left:15px;
	padding-right:0px;
    width:892px;
    height:80px;
}
.p1write {
    background:url(../pix/isb.jpg) left bottom repeat-x #F5F5F5;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	padding-top:15px;
	padding-bottom:15px;	
	padding-left:15px;
	padding-right:15px;
    width:877px;
    height:20px;
}
.p2write {
    background:url(../pix/isb.jpg) left bottom repeat-x #F5F5F5;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	padding-top:15px;
	padding-bottom:15px;	
	padding-left:15px;
	padding-right:15px;
    width:420px;
    height:20px;
}
.pwrite {
    background:url(../pix/isb.jpg) left bottom repeat-x #F5F5F5;
    border: 1px solid #696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	padding-top:15px;
	padding-bottom:15px;	
	padding-left:15px;
	padding-right:15px;
    width:331px;
    height:20px;
}
.dtitle {
    background:#696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:15px;
	padding-right:15px;
    width:423px;
    height:35px;
}
.ctitle {
    background:#696968;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:15px;
	padding-right:15px;
    width:100%;
    height:35px;
}

.ctitle a{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration:none;
	font-weight:bold;
}

.ctitle a:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #cccccc;
	text-decoration:underline;
	font-weight:bold;
}
.button {
    background:url(../pix/isb.jpg) left bottom repeat-x #F5F5F5;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    padding:5px;
    width:120px;
    border: 1px solid #CCCCCC;
}
.buttonz {
    background:url(../pix/isb.jpg) left bottom repeat-x #F5F5F5;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    padding:5px;
    width:95px;
    border: 1px solid #CCCCCC;
}
.pageinformer{
    background:#222222;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
    border-top: 1px solid #666666;
}
.xtitle {
    background:#111111;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:15px;
	padding-right:15px;
    width:100%;
    height:35px;
    border: 1px solid #454545;
}
.ztitle {
    background:#111111;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding-left:15px;
	padding-right:15px;
    width:100%;
    height:35px;

}
.passogen {
    background:url(../pix/isb.jpg) left bottom repeat-x #F5F5F5;
    border: 1px solid #696968;
	font-family: Sylfaen, "Book Antiqua", Arial;
	font-size: 65px;
	color:#CC0000;
	padding-top:30px;
	padding-bottom:30px;	
	padding-left:15px;
	padding-right:15px;
    width:877px;
    height:auto;
	text-align:center;
}
.rolbuz{
    background:url(../pix/btg.jpg) repeat #202020;
	margin:0px;
	padding-left:20px;
	padding-right:20px;
	padding-top:25px;
	padding-bottom:25px;
    width:980px;
	height:auto;
}