[global_config]
  enabled_plugins = InactivityWatch, CustomCommandsMenu, TestPlugin, ActivityWatch, TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, MavenPluginURLHandler, LaunchpadBugURLHandler
[keybindings]
[profiles]
  [[default]]
    use_system_font = False
    font = Monospace 12
    background_type = image
    background_image = /home/daniel/wallpaper.jpg
    scroll_background = False
    copy_on_selection = True
    foreground_color = "#00ff00"
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
