@import url("../../../dojotoolkit/dojo/resources/dojo.css");
@import url("../../../dojotoolkit/dijit/themes/claro/claro.css");

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
